@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Hello! And thank you for visiting my site :)  My name is Jack and I created this site as a way to keep fresh with my 
    programming and create something super cool involving something I love. 
    Music is a gift to the world, and keeping track of all my psychical media is a hassle, so I came up with this as a way to have it all in one spot.
     Enjoy :)</p>
