@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="get" asp-controller="Brain" asp-action="Collection">
        <button type="submit" class="btn btn-primary">Go to Collection</button>
    </form>
</div>
