@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">VinylDB</h1>
    <a class="btn btn-primary" href="/Brain/Collection">Go to Collection</a>
</div>
