@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is where the privacy policy goes. No information is collected for the use of this site, at least not currently. 
    Everything on display is from my own personal vinyl collection. However in the future I plan on creating a registration system that will allow 
    YOU the user to display your own vinyl collection! This system would only require your email for an account, 
    and I will not use emails for anything besides that. Otherwise, I have no real need for a privacy policy other than the practice of
     making the page.</p>
